/* ---------------------------- */
/* Environment Variables */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
:root{
 
}
/* ---------------------------- */
/* Card */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.card{
    background-color: var(--white);
    color: var(--texto-color);
    padding: .8em 1.5em;
    border-radius: .4em;
}
/* ---------------------------- */
/* Text */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.txt-strong{
    font-weight: bold!important;
}
/* ---------------------------------------------------- */
/* --------- Página Interna GENERALES -------------- */
/* ------------------ˇˇˇˇˇˇˇˇˇˇˇˇ---------------------- */
.form-item label{
    color: var(--texto-light);
}
.form-item input,
.form-item textarea{
    border-radius: .4em;
}
div.col-6{
    padding: 0 0;
}
@media only screen and (min-width: 589px){
/* Móviles en vertical */
    div.col-6{
        padding: 0 1rem;
    }
}
@media only screen and (min-width: 767px){
/* Móviles en horizontal o tablets en vertical */
    div.col-6{
        padding: 0 2rem;
    }
}
hr{
    margin: 1.5rem 0;
}

.card-empty{
    margin-top: 2.5rem;
    background-color: transparent;
    border: .4rem dashed var(--dark-m-fg-1);
    border-radius: 1.1em;
    padding: 1rem 2rem 2rem;
    color: var(--dark-m-fg-1);
}
@media only screen and (min-width: 589px){
/* Móviles en vertical */
    .card-empty{
        margin-top: 6.5rem;
    }
}
.card-empty > *{
    text-shadow: .13rem .13rem 1px rgba(255, 255, 255, .1);
}